@import 'mixins'
@import 'variables'


// View
#book-view
    > div
        float: left
        padding-bottom: 15px
        width: 100%

    .cover  
        margin-right: 2%
        width: 30%
        img
            display: block
            max-width: 100%

    .cover ~ div
        width: 68%

    .details

        &:after
            clear: both
            content: ''

        h1 span,
        h4 span,
        p
            font-family: $font-playfair
            margin: 0

        h1
            font-size: 22px
            margin: -6px 0 0
            span
                display: block
                font-style: italic
                font-size: .7em

        h4
            font-weight: 400
            margin: 0 0 15px
        p
            margin: 3px 0

    .actions .btn
        display: inline-block
        padding: 10px 14px

    .lists
        list-style: none
        li
            border: 1px solid #777
            display: inline-block
            margin: 0 5px 5px 0
            padding-left: 8px
            .btn
                margin-left: 4px
