@import 'mixins'
@import 'variables'

// Reset & General
section, div, input
    box-sizing: border-box

body
    margin: 0
    padding: 55px 0 0

h1, h2, h3, h4, h5, h6
    color: #333
    font-family: $font-playfair
    position: relative
    &.underline
        border-bottom: 1px solid #777
    a, a.btn
        background: $btn-green
        border: 1px solid darken($btn-green, 40)
        bottom: 2px
        font-weight: 400
        padding: 4px 10px
        position: absolute
        right: 0
        &:hover
            background: $btn-green-hover

div, ul, li, a, button, p, span
    color: #333
    font-family: $font-muli

a, button, input
    +transition(.3s)
    &:focus
        outline: 0

input[type="search"]
    -webkit-appearance: textfield

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button
    -webkit-appearance: none

ul
    margin: 0
    padding: 0
    &.list-unstyled
        list-style: none

.container
    margin: 0 auto
    max-width: 768px
    padding: 0 4px
    position: relative

a
    color: #333
    text-decoration: none

    
    &.close
        height: 10px
        position: absolute
        right: 3px
        top: 3px
        width: 10px

        &::before,
        &::after
            background: #777
            content: ''
            display: block
            height: 2px
            left: 0
            position: absolute
            right: 0
            top: 4px
        &::before
            transform: rotate(45deg)
        &::after
            transform: rotate(-45deg)
        &:hover
            transform: rotate(-90deg)

button
    border: 0
    cursor: pointer

button,
.btn
    display: inline-block
    padding: 5px 10px
    &.green
        background: $btn-green
        &:hover
            background: $btn-green-hover
    &.blue
        background: $btn-blue
        &:hover
            background: $btn-blue-hover
    &.gray
        background: $btn-gray
        &:hover
            background: $btn-gray-hover
    &.red
        background: $btn-red
        color: #fff
        &:hover
            background: $btn-red-hover

form
    position: relative

    input
        border: 1px solid #ccc
        display: block
        font: 16px $font-muli
        padding: 4px 8px
        position: relative
        width: 100%
        &.has-error
            border-color: #f00
        &:focus
            border-color: #777


// Header
#header
    background: #fff
    border-bottom: 2px solid #000
    left: 0
    padding: 10px 0
    position: fixed
    right: 0
    text-align: center
    top: 0
    z-index: 3

    a
        font: 16px/1.5em $font-playfair

    img
        display: inline-block
        vertical-align: top


// Search
#search
    background: #fff
    left: 4px
    padding-bottom: 10px
    position: absolute
    right: 4px
    z-index: 1

    form
        input
            z-index: 1

        button
            background: url(../images/ico-search.svg) no-repeat center
            background-size: auto 60%
            height: 100%
            position: absolute
            right: 5px
            top: 0
            z-index: 2

#search-results
    border: 1px solid #ccc
    border-bottom-left-radius: 2px
    border-bottom-right-radius: 2px
    font-size: 14px
    list-style: none
    margin-top: -1px

    li
        border-bottom: 1px solid #ccc
        +transition(.3s)
        &:hover
            background: #eee
        a
            padding: 6px 12px
        &:first-child,
        &:last-child
            border: 0
        &:first-child
            background: #f3f3f3
            text-align: center
            span
                border-bottom: 1px solid #ccc
                display: block
                font-size: 12px
                padding: 5px
            a
                display: inline-block
                font-size: 12px
                margin-left: 4px
                padding: 4px 10px

.search-book
    display: block
    padding: 5px 130px 5px 5px
    position: relative
    .cover,
    .details
        display: inline-block
        vertical-align: middle

    .cover
        margin-right: -5px
        padding-right: 1%
        width: 8%
        img
            display: block
            max-width: 100%

    .details
        width: 91%

        .author-year
            display: block
            font-size: 12px

    .actions
        position: absolute
        right: 5px
        top: 50%
        transform: translateY(-50%)

        .btn
            display: inline-block
            font-size: 14px
            padding: 3px 6px


// Content
#view
    margin-top: 50px


// Notification
#notification
    background: #eee
    border: 1px solid #ddd
    max-width: 310px
    min-width: 250px
    opacity: 0
    padding: 15px 10px 10px
    position: fixed
    right: 3px
    top: 50px
    visibility: hidden
    z-index: 3
    +transition(.33s)
    &.active
        opacity: 1
        visibility: visible

    &.warning
        background: #ff6
        border-color: #cc3

    &.success
        background: #0fa
        border-color: #0c7

    p
        margin: 0

    a.cancel,
    a.confirm
        color: #fff
        display: inline-block
        margin-top: 5px
        padding: 6px 10px
    a.cancel
        background: #777
        &:hover
            background: #666
    a.confirm
        background: #0a3
        margin-right: 5px
        &:hover
            background: #092
