@import 'mixins'
@import 'variables'

#form-list-create
    max-height: 0
    overflow: hidden
    +transition(.33s)
    &.active
        margin-bottom: 20px
        max-height: 40px
    button
        bottom: 1px
        position: absolute
        right: 1px
        top: 1px

#main
    h4
        margin-top: 55px

    p
        margin: 0

    .lists
        list-style: none
        margin: 0
        padding: 0
        li
            display: inline-block
            margin: 5px 5px 0 0
            position: relative
            &:first-child .name
                padding-right: 10px
            .name
                border: 1px solid #000
                display: block
                padding: 4px 18px 4px 10px
                &:hover
                    background: $btn-blue-hover
