<div id="book-view">
  <div class="cover" ng-if="book.covers !== undefined">
    <img src="http://covers.openlibrary.org/b/id/{{ book.covers[0] }}-L.jpg" alt="{{ book.title }} cover">
  </div>

  <div>
    <div class="details">
      <h1>{{ book.title }} <span>{{ book.subtitle }}</span></h1>
      <h4>
        <span ng-repeat="author in book.authors_data">
          by {{ author.name }}<span ng-if="author.birth_date"> ({{ author.birth_date }})</span><span ng-if="!$last">,</span>
        </span>
      </h4>
      <p ng-if="book.number_of_pages">Pages: {{ book.number_of_pages }}</p>
      <p>Publish date: {{ book.publish_date }}</p>
      <p ng-if="book.revision">Revision: {{ book.revision }}</p>
      <p ng-if="book.physical_format">Format: {{ book.physical_format }}</p>
      <p ng-if="book.physical_dimensions">Dimensions: {{ book.physical_dimensions }}</p>
      <p ng-if="book.weight">Weight: {{ book.weight }}</p>
    </div>

    <div class="actions">
        <a class="btn red" href="#" ng-if="book.added" ng-click="bookDelete(book.id)">remove</a>
        <a class="btn green" href="#" ng-if="!book.added" ng-click="bookCreate(book)">add</a>
    </div>

    <div ng-if="book.added">
      <div ng-controller="ListCtrl">
        <h4 class="underline">Lists <a href="" class="btn" ng-click="listCreateOpen()">new</a></h4>

        <form id="form-list-create" action="/list/new" ng-submit="listCreate($event, true)">
          <input type="text" placeholder="name" ng-model="list.name">
          <button type="submit" class="green">add</button>
        </form>
        <p ng-show="!lists.length">no lists we're found!</p>
        <ul class="lists">
          <li ng-repeat="list in lists">
            {{ list.name }}
            <a href=""
               class="btn green"
               ng-if="book.listId === undefined || book.listId.indexOf(list.id) < 0"
               ng-click="addBookToList(list)">
              add to this list
            </a>
            <a href="" class="btn red" ng-if="book.listId.indexOf(list.id) >= 0" ng-click="removeBookFromList(list)">
              remove from this list
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
