<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>eBooker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- <base href="http://localhost:4000/"> -->
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Muli|Playfair+Display:400,700" rel="stylesheet">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/list.css">
    <link rel="stylesheet" href="styles/book.css">
    <!-- endbuild -->
  </head>

  <body ng-app="ebookerApp">
    <section id="header">
      <a href="/">
        <img src="images/ebooker-black.svg" alt="ebooker">
        Booker
      </a>
    </section>

    <section class="container">
      <section id="search" ng-controller="SearchCtrl">
        <form action="" ng-submit="submit($event)">
          <input type="search"
                 placeholder="search new book"
                 ng-model="search.name"
                 ng-focus="searchResultsShow()"
                 ng-blur="searchResultsHide()"
                 ng-change="searchChange()">
          <button type="submit"></button>
        </form>

        <ul id="search-results">
          <li ng-if="search.name.length > 3">
            <span ng-if="search.searching">loading</span>

            <span ng-if="!search.searching && search.num_found <= 0">
              we could not found your book :(
            </span>

            <span ng-if="search.num_found > search.num_showing">
              showing {{ search.num_showing }} of {{ search.num_found }}
              <a href="#" class="btn green" ng-click="searchResultsAll()">view all</a>
            </span>
          </li>

          <li ng-repeat="book in search.found | limitTo:search.limit">
            <span class="search-book">
              <span class="cover" ng-if="book.cover_i">
                <img src="http://covers.openlibrary.org/b/id/{{ book.cover_i }}-S.jpg" alt="{{ book.title }} cover">
              </span>
              <span class="details">
                {{ book.title }}
                <span class="author-year">
                  <span ng-repeat="author in book.author_name">by {{ author }}<span ng-if="!$last">,</span></span>
                  <span ng-repeat="year in book.publish_year" ng-if="$last">({{ year }})</span>
                </span>
              </span>

              <span class="actions">
                <a class="btn blue" href="/book/{{ book.edition_key[book.edition_key.length-1] }}">view</a>
              </span>
            </span>
          </li>
        </ul>
      </section>
    </section>

    <section class="container">
      <section id="view" ng-view=""></section>
    </section>

    <section id="notification" class="{{ notification.css_class }}">
      <div ng-if="notification.message">
        <p>{{ notification.message }}</p>
        <div ng-if="notification.action">
          <a href="#" class="confirm">yes, do it!</a>
          <a href="#" class="cancel">no, go back!</a>
        </div>
        <a href="#" class="close"></a>
      </div>
    </section>

     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-41747553-2', 'auto');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-indexedDB/angular-indexed-db.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/openlibrary.api.js"></script>
    <script src="scripts/services/notification.service.js"></script>
    <script src="scripts/services/list.service.js"></script>
    <script src="scripts/services/book.service.js"></script>
    <script src="scripts/controllers/search.js"></script>
    <script src="scripts/controllers/list.js"></script>
    <script src="scripts/controllers/book.js"></script>
    <!-- endbuild -->
  </body>
</html>
