<div id="main">
  <h4 class="underline">My Lists <a href="" class="btn" ng-click="listCreateOpen()">new</a></h4>

  <form id="form-list-create" action="/list/new" ng-submit="listCreate($event)">
    <input type="text" placeholder="name" ng-model="list.name">
    <button type="submit" class="green">add</button>
  </form>
  <ul class="lists">
    <li>
      <a href="/list" class="name">uncategorized</a>
    </li>
    <li ng-repeat="list in lists">
      <a href="/list/{{ list.id }}" class="name">{{ list.name }}</a>
      <a href="" class="close" ng-click="listDelete(list.id)"></a>
    </li>
  </ul>
</div>