<p>Você tem certeza que deseja excluir a lista <b>{{ listToDelete.name }}</b>?</p>

<a href="/list/delete/{{ listToDelete.id }}/confirm" class="btn blue">Sim</a>
<a href="javascript:history.go(-1);" class="btn gray">Voltar</a>