<div id="list-view">
  <h4 class="underline">List {{ list.name }}</h4>

  <ul class="list-books list-unstyled">
    <li ng-repeat="book in listBooks" class="search-book">
      <span class="cover" ng-if="book.cover">
        <img src="http://covers.openlibrary.org/b/id/{{ book.cover[0] }}-S.jpg" alt="{{ book.title }} cover">
      </span>
      <span class="details">
        {{ book.title }}
        <span class="author-year">
          <span ng-repeat="author in book.author">by {{ author.name }}<span ng-if="!$last">,</span></span>
          ({{ book.publish_date }})
        </span>
      </span>

      <span class="actions">
        <a class="btn blue" href="/book/{{ book.olid }}">view</a>
        <span ng-if="list.id">
          <a class="btn red" href="" ng-click="listBookDeleteFromList(list, book)">remove from this list</a>
        </span>
        <span ng-if="!list.id">
          <a class="btn red" href="" ng-click="listBookDelete(book)">remove book</a>
        </span>
      </span>
    </li>
  </ul>
  <p ng-if="!listBooks.length">no books in this list!</p>
</div>